@tailwind base;
@tailwind components;
@tailwind utilities;

.hover:shadow-lg {
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.background {
    background-image: url('../assets/Big-Kebab.jpg'); 
    background-color: black;
    height: 70vh;
    position: relative; /* Needed for overlay positioning */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1;
}


